In [1]:
a = 3
print(type(a))

<class 'int'>

In [2]:
a = 3 > 1
print(a)

True

In [4]:
rent = 1200
is_affordable = rent > 1000 and rent < 2000
print(is_affordable)

True

In [5]:
print('your mama')
print("yout mama")

your mama
yout mama

In [6]:
dialogue = 'sheava said, "you learn as you grow"'
print(dialogue)

sheava said, "you learn as you grow"

In [7]:
dialogue = 'sheva said,you\'re learning'
print(dialogue)

sheva said,you're learning

In [8]:
word = 'hello'
print(word * 5)

hellohellohellohellohello

In [10]:
word_1 = len('hello')
word_2 = len('world')
print(word_1 / word_2)

1.0

In [11]:
print_note = 'if you don\'t get it, forget about it'
print(print_note)

if you don't get it, forget about it

In [12]:
number = '69420'
print(type(number))

<class 'str'>

In [18]:
model = '1991'
car = 'BMW E30'
print('The ' + car + ' was made in ' + model)

The BMW E30 was made in 1991

In [3]:
marks = 15
subject = 'coding'
semester = 'first'

result = 'I scored ' + str(marks) + ' in ' + subject + ' during my ' + semester + ' semester.'
print(result)

I scored 15 in coding during my first semester.

In [4]:
animal = 'dog'
action = 'bite'
print('does your {} {}'.format(animal, action))

does your dog bite

In [5]:
maria_string = 'maria loves {} and {}'
print(maria_string.format('math', 'statistics'))

maria loves math and statistics

In [6]:
marks = 15
subject = 'coding'
semester = 'first'

result = 'I scored {} in {} during my {} semester.'
print(result.format(marks, subject, semester))

I scored 15 in coding during my first semester.

In [10]:
# lists

students = ['sam', 'fiyin', 'austin', 'ithiel']
print(type(students))
print(students[0])
print(students[-1])

<class 'list'>
sam
ithiel

In [11]:
letters = ['a', 'b', 'c', 'd']
letters.append('e')
print(letters)

['a', 'b', 'c', 'd', 'e']

In [13]:
letters = ['a', 'b', 'c', 'd']
letters.insert(0, 'e')
print(letters)

['e', 'a', 'b', 'c', 'd']

In [14]:
# tuples
vector = (3, 4, 5)
print(type(vector))

<class 'tuple'>

In [16]:
# dictionary
elements = {'Hydrogen': 1, 'Helium': 2, 'Lithium': 3}
print(type(elements))

<class 'dict'>

In [17]:
numbers = {1: 'one', 2: 'two', 3: 'three'}

In [19]:
# functions

def addition(a,b):
    c = a + b
    print('the result is ', c)

addition(3,4)

the result is  7

In [20]:
# for loop
for i in range(5):
    print(i)

0
1
2
3
4